<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dorianbweta" target = "blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dorianbweta/" target = "blank"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com/in/dorianbweta" target = "blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Dorian Bweta
  </div>
</div>
